@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
  }
  body {
    @apply bg-[#0F1318] text-white overflow-hidden;
  }

  .scroll-style::-webkit-scrollbar{
    scroll-behavior: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(247, 71, 17) rgb(242, 246, 255); 
  }
  .scroll-style::-webkit-scrollbar{
    @apply w-2;
  }
  .scroll-style::-webkit-scrollbar-track {
    @apply bg-slate-700;
  }
  .scroll-style::-webkit-scrollbar-thumb {
    @apply rounded-full bg-blue-600;
  }

  .onpopupshow {
    opacity: 1;
    visibility: visible;
    transform: skewY(0deg) rotate(0deg) translateY(0px);
  }
  .onpopupnotshow {
    opacity: 0;
    visibility: hidden;
    transform: skewY(-5deg) rotate(5deg) translateY(-30px);
  }

}